<p id="notice"><%= notice %></p>

<h1><br></h1>

 <div class="jumbotron jumbotron-fluid">
<div class="container">

<h2>Atención al cliente</h2>

<p>Desde celular o teléfono fijo:
103 para Dudas o sugerencias</p>

<p>
Desde teléfono fijo:
600 3600 103 para servicios
de estacionamiento</p>



<div id="maps">

    <%= render 'layouts/partials/map' %> 


</div>

</div>
</div>